//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	width: 105px;
	height: 45px;
	display: flex;
	background: #eee;
	border-radius: 5px;
	// .quantity_min

	&_min {
		width: 91px;
		border: 1px solid rgba(0, 0, 0, 0.23);
	}

	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #a6a6a6;
			width: 18px;
			height: 3px;
		}

		@media (any-hover: hover) {
			&:hover {

				&::before,
				&::after {
					background-color: #5b5b5b;
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			&::before {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			background: #eee;
			height: 100%;
			width: 100%;
			font-weight: 400;
			font-size: 17px;
			line-height: 122%;
			text-align: center;
			color: #000;
		}
	}
}