@use '../config/functions.scss' as func;
// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}

// Спойлер
.spollers__item {
	font-size: func.rem(20);
	border: 1px solid #b4b0ad;
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	padding: func.rem(25) func.rem(30);
	position: relative;
	list-style: none;
	font-weight: 500;
	font-size: 20px;
	color: #000;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;

	&::marker {}

	._spoller-init & {
		cursor: pointer;

		&::after {
			content: '';
			width: 32px;
			height: 32px;
			flex-shrink: 0;
			display: block;
			background: url(../img/icons/icon_spoller.svg);
			transition: all 0.3s ease 0s;
		}

		&._spoller-active {
			&::after {
				transform: rotate(45deg);
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	margin-top: func.rem(-8);
	padding-left: func.rem(65);
	padding-right: func.rem(121);
	padding-bottom: func.rem(52);
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #000;
}