@use '../config/functions.scss' as func;

.tabs {

	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: 41px;
	}

	// .tabs__title
	&__title {
		font-weight: 500;
		font-size: 26px;
		text-transform: uppercase;
		color: #979797;
		border-bottom: 3px solid transparent;

		&._tab-active {
			color: #000;
			border-color: var(--blue);
		}
	}

	// .tabs__content
	&__content {}

	// .tabs__body
	&__body {}
}