@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.blog {
   padding-top: func.rem(54);
   margin-bottom: func.rem(145);

   @media (max-width:bp.$xxl) {
      padding-top: func.rem(35);
   }

   @media (max-width:bp.$xl) {
      margin-bottom: func.rem(91);
   }

   // .blog__container

   &__container {}

   // .blog__grid

   &__grid {
      margin-bottom: func.rem(88);
      display: grid;
      gap: 38px 96px;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1311px;

      @media (max-width:bp.$xl) {
         display: block;
      }
   }

   // .blog__item

   &__item {
      display: grid;
      align-content: start;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      column-gap: 40px;
      position: relative;

      @media (max-width:bp.$xxl) {
         grid-template-columns: 1fr;
      }

      @media (max-width:bp.$xl) {
         grid-template-columns: 407px 1fr;
         margin-bottom: func.rem(37);
      }

      @media (max-width:bp.$lg) {
         grid-template-columns: 300px 1fr;
         column-gap: 20px;
      }

      @media (max-width:bp.$md) {
         grid-template-columns: 1fr;
      }

      // .blog__item_first

      &_first {
         @media (min-width:bp.$xl) {
            grid-row: 1/3;
            grid-template-columns: 1fr;

            .blog__date {
               grid-column: 1/2;
            }

            .blog__title {
               margin-bottom: func.rem(17);
               grid-column: 1 / 2;
            }

            .blog__descr {
               margin-bottom: func.rem(19);
               grid-column: 1/2;
            }

            .blog__image-ibg {
               height: 387px;
               grid-column: 1/2;
               width: auto;

               @media (max-width:bp.$xxl) {
                  grid-row: auto;
               }
            }
         }
      }
   }

   // .blog__date

   &__date {
      font-size: 14px;
      margin-bottom: func.rem(11);
      grid-column: 1/3;

      @media (max-width:bp.$xxl) {
         grid-column: 1/2;
      }

      @media (max-width:bp.$xl) {
         grid-column: 2/3;
      }

      @media (max-width:bp.$md) {
         grid-column: 1/2;
      }
   }

   // .blog__title

   &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 145%;
      margin-bottom: func.rem(24);
      grid-column: 1/3;


      &::before {
         content: '';
         position: absolute;
         inset: 0;
         z-index: 2;
      }

      @media (max-width:bp.$xxl) {
         grid-column: 1/2;
      }

      @media (max-width:bp.$xl) {
         grid-column: 2/3;
         margin-bottom: func.rem(17);
      }

      @media (max-width:bp.$md) {
         grid-column: 1/2;
      }
   }

   // .blog__descr

   &__descr {
      line-height: 167%;
      grid-column: 2/3;

      @media (max-width:bp.$xxl) {
         grid-column: 1/2;
      }

      @media (max-width:bp.$xl) {
         grid-column: 2/3;
      }

      @media (max-width:bp.$md) {
         grid-column: 1/2;
      }
   }

   // .blog__image-ibg

   &__image-ibg {
      height: 165px;
      z-index: 1;
      border-radius: 15px;
      overflow: hidden;

      @media (max-width:bp.$xxl) {
         width: 269px;
         grid-row: 3/4;
         margin-bottom: func.rem(17);
      }

      @media (max-width:bp.$xl) {
         width: auto;
         height: 259px;
         grid-row: 1/7;
         margin-bottom: func.rem(0);
      }

      @media (max-width:bp.$lg) {
         height: 213px;
      }

      @media (max-width:bp.$md) {
         width: 100%;
         grid-row: 1/2;
         margin-bottom: func.rem(21);
      }
   }

   // .blog__bottom

   &__bottom {
      max-width: 1311px;
   }

   // .blog__more-btn

   &__more-btn {
      display: block;
      margin-bottom: func.rem(27);
      height: 40px;
      font-weight: 400;
      font-size: 18px;
      border-color: #cacaca;
   }

   // .blog__row

   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      max-width: 1350px;

      @media (max-width:bp.$xl) {
         display: block;
      }
   }

   // .blog__main-title

   &__main-title {
      font-size: 30px;
      margin-bottom: func.rem(49);
      font-weight: 600;

      @media (max-width:bp.$md) {
         font-size: 25px;
         margin-bottom: func.rem(30);
      }
   }
}

.categories-block {
   background: #efefef;
   padding: func.rem(30);
   border-radius: 15px;

   @media (max-width:bp.$lg) {
      padding: func.rem(22);
   }

   // .categories-block_left-padding

   &_left-padding {
      padding-left: func.rem(160);

      // @media (max-width:bp.$xpc) {
      //    padding-left: func.rem(107);
      // }

      @media (max-width:bp.$xl) {
         padding-left: 0;
      }
   }

   // .categories-block__container

   &__container {}

   // .categories-block__grid

   &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      overflow: auto;
      // @extend %hidescroll;

      @media (max-width:bp.$lg) {
         flex-wrap: nowrap;
      }
   }

   // .categories-block__link

   &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 194%;
      color: #000;
      padding: func.rem(0) func.rem(14);
      background-color: #fff;
      white-space: nowrap;

      &:hover {
         background: #0465ba;
         color: #fff;
      }

      &._active {
         background: #0465ba;
         color: #fff;
      }
   }
}

.blog-detail {
   margin-bottom: func.rem(76);

   // .blog-detail__container

   &__container {}

   // .blog-detail__date

   &__date {
      color: #3b3d3e;
      margin-bottom: func.rem(42);
   }

   // .blog-detail__content

   &__content {
      max-width: 1305px;
   }

   // .blog-detail__row

   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 105px;
      grid-auto-flow: dense;

      @media (max-width:bp.$xxl) {
         gap: 50px;
      }

      @media (max-width:bp.$lg) {
         display: block;
      }

      &:not(:last-child) {
         margin-bottom: func.rem(76);

         @media (max-width:bp.$lg) {}
      }

      &:nth-child(even) {
         .blog-detail__image-ibg {
            grid-column: 2/3;
            background: #000;
         }
      }
   }

   // .blog-detail__image-ibg

   &__image-ibg {
      height: 423px;
      width: auto;

      @media (max-width:bp.$xxl) {
         height: 330px;
      }

      @media (max-width:bp.$xl) {
         height: 250px;
      }

      @media (max-width:bp.$lg) {
         height: 250px;
         margin-bottom: func.rem(30);
      }
   }

   // .blog-detail__row-text

   &__row-text {
      line-height: 167%;
   }

   // .blog-detail__text

   &__text {
      p {
         margin-bottom: func.rem(20);
      }
   }

   // .blog-detail__text-highlighted

   &__text-highlighted {
      padding: func.rem(15) 0;
      margin-top: func.rem(40);
      padding-left: func.rem(40);
      border-left: 6px solid #0465ba;
   }
}

.share-block {
   padding: func.rem(78) 0;

   @media (max-width:bp.$lg) {
      padding: func.rem(30) 0;
   }

   // .share-block__row

   &__row {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width:bp.$lg) {
         display: grid;
         gap: 10px;
      }
   }

   // .share-block__text

   &__text {}

   #uSocial,
   .uSocial-Share {
      display: block !important;
   }

   #uSocial .ico_uscl.uscl-telegram,
   .uSocial-Share .ico_uscl.uscl-telegram,
   #uSocial .ico_uscl.uscl-vk,
   .uSocial-Share .ico_uscl.uscl-vk,
   #uSocial .ico_uscl.uscl-wa,
   .uSocial-Share .ico_uscl.uscl-wa,
   #uSocial .ico_uscl.uscl-ok,
   .uSocial-Share .ico_uscl.uscl-ok {
      background: #A2A2A2;
   }
}


.about-video {
   // display: none !important;
   background: #535559;
   padding: func.rem(73) 0;

   @media (max-width:bp.$md) {
      padding: func.rem(20) 0;
   }

   @media (max-width:bp.$xs) {
      padding: 0;
   }

   // .about-video__wrapper

   &__wrapper {
      width: 700px;
      height: 422px;
      margin: 0 auto;
      position: relative;
      cursor: pointer;

      &::after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100px;
         height: 100px;
         background: url(../img/icons/icon_play.svg)center / contain;
         z-index: 2;
         transition: transform 0.3s ease 0s;
      }

      &::before {
         content: '';
         position: absolute;
         inset: 0;
         // background: rgba(0, 0, 0, 0.7);
         z-index: 1;
      }

      &:hover {
         &::after {
            transform: translate(-50%, -50%) scale(1.04);
         }
      }

      @media (max-width:bp.$md) {
         width: 375px;
         height: 226px;

         &::after {
            width: 64px;
            height: 64px;
         }
      }

      @media (max-width:bp.$xxs) {
         width: 100%;
      }
   }

   // .about-video__image-ibg

   &__image-ibg {
      position: absolute;
      inset: 0;
   }

   // .about-video__logo

   &__logo {
      position: absolute;
      z-index: 2;
      top: 37px;
      right: 35px;
      width: 151px;
      height: 22px;

      @media (max-width:bp.$md) {
         width: 121px;
         height: 18px;
         top: 21px;
         right: 20px;
      }

      img {
         width: 100%;
         height: 100%;
      }
   }

   // .about-video__title

   &__title {
      position: absolute;
      z-index: 2;
      left: 40px;
      bottom: 35px;
      color: #fff;
      font-weight: 600;
      font-size: 30px;

      @media (max-width:bp.$md) {
         font-size: 20px;
         bottom: 28px;
         left: 21px;
      }

      @media (max-width:bp.$xxs) {
         font-size: 16px;
      }
   }

   // .about-video__col

   &__col {
      position: absolute;
      z-index: 2;
      bottom: 39px;
      right: 36px;
      display: grid;
      gap: 20px;
      justify-items: end;

      @media (max-width:bp.$md) {
         right: 21px;
         bottom: 32px;
         gap: 10px;
      }
   }

   // .about-video__text

   &__text {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;

      @media (max-width:bp.$md) {
         font-size: 14px;
         line-height: 100%;
      }

      @media (max-width:bp.$xxs) {
         font-size: 12px;
      }
   }
}