@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.product-detail {
   margin-bottom: func.rem(55);

   @media (max-width:bp.$xl) {
      margin-bottom: func.rem(29);
   }

   // .product-detail__main

   &__main {
      display: grid;
      grid-template-columns: 1fr auto 293px;
      gap: 40px;
      margin-bottom: func.rem(42);

      @media (max-width:bp.$xl) {
         grid-template-columns: 1fr auto 293px;
      }

      @media (max-width:bp.$lg) {
         grid-template-columns: 1fr;
      }
   }

   // .product-detail__gallery

   &__gallery {
      min-width: 0;
      display: grid;
      grid-template-columns: 84px 1fr;
      gap: 23px;
      position: relative;

      @media (max-width:bp.$xl) {
         grid-template-columns: 1fr;
         gap: 20px;
      }
   }

   // .product-detail__gallery-sidebar

   &__gallery-sidebar {
      display: grid;
      height: 100%;
      gap: 51px;

      @media (max-width:bp.$xl) {
         grid-row: 2/3;
         grid-template-columns: repeat(2, auto);
         gap: 70px;
         justify-content: space-between;
      }

      @media (max-width:bp.$md) {
         gap: 30px;
      }
   }

   // .product-detail__gallery-thumbs

   &__gallery-thumbs {
      height: func.rem(307);

      @media (max-width:bp.$xxl) {
         height: 200px;
      }

      @media (max-width:bp.$xl) {
         height: 84px;
      }

      .product-detail__slide-ibg {
         padding: func.rem(9) 0;
         width: 84px;
         height: 84px;

         &.swiper-slide-thumb-active {
            border: 1px solid #e5e5e5;
         }
      }
   }

   // .product-detail__gallery-nav

   &__gallery-nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 60px;
      margin: 0 auto;

      @media (max-width:bp.$xl) {
         flex-direction: column-reverse;
      }

      .swiper-button {
         width: 22px;
         height: 15px;
         background: none;

         @media (max-width:bp.$xl) {
            transform: rotate(-90deg);
         }

         // .swiper-button_prev

         &_prev {}

         // .swiper-button_next

         &_next {}
      }
   }

   // .product-detail__wrapper

   &__wrapper {}

   // .product-detail__slide-ibg

   &__slide-ibg {
      height: 100%;
   }

   // .product-detail__gallery-main

   &__gallery-main {
      border: 1px solid #e5e5e5;

      @media (max-width:bp.$xl) {
         height: 250px;
         grid-row: 1/2;
      }

      @media (max-width:bp.$lg) {
         height: 288px;
      }
   }

   // .product-detail__labels

   &__labels {
      position: absolute;
      top: 17px;
      left: 126px;
      display: grid;
      gap: 8px;
      z-index: 3;
      justify-items: start;

      @media (max-width:bp.$xl) {
         left: 17px;
      }
   }

   // .product-detail__label

   &__label {
      border-radius: 44px;
      background: #0465ba;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      color: #fff;
      padding: func.rem(6) func.rem(13) func.rem(4) func.rem(14);
      display: flex;
      align-items: center;
      gap: 7px;

      &::before {
         content: '';
         width: 5px;
         height: 5px;
         display: block;
         background-color: #fff;
         border-radius: 100%;
      }
   }

   // .product-detail__spec

   &__spec {}

   // .product-detail__subtitle

   &__subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 162%;
      color: #000;
      margin-bottom: func.rem(17);
   }

   // .product-detail__spec-list

   &__spec-list {}

   // .product-detail__spec-row

   &__spec-row {
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      gap: 30px;

      @media (max-width:bp.$xl) {
         grid-template-columns: 120px 1fr;
      }

      &:not(:last-child) {
         margin-bottom: func.rem(15);
      }
   }

   // .product-detail__spec-name

   &__spec-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 94%;
      color: #7c7c7c;
   }

   // .product-detail__spec-value

   &__spec-value {
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      color: #000;
   }

   // .product-detail__link

   &__link {
      font-weight: 500;
      font-size: 16px;
      line-height: 94%;
      color: #0465ba;
      display: block;
      margin-top: func.rem(24);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .product-detail__actions

   &__actions {}

   // .product-detail__short-description

   &__short-description {
      @media (min-width:bp.$xxl) {
         padding-left: func.rem(108);

      }
   }

   // .product-detail__short-description-text

   &__short-description-text {
      font-size: 18px;
      line-height: 144%;
      max-width: 1000px;

      ul {
         padding-left: func.rem(15);

         li {
            padding-left: func.rem(10);
            list-style-type: '–';
         }
      }
   }
}

.prod-detail-actions {
   border-radius: 15px;
   background: #efefef;
   padding: func.rem(22) func.rem(26) func.rem(30) func.rem(24);
   display: grid;
   gap: 24px;
   grid-template-columns: 1fr auto;
   // .prod-detail-actions__price

   &__price {}

   // .prod-detail-actions__price-main

   &__price-main {
      font-weight: 500;
      font-size: 36px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: func.rem(5);

      span {
         font-family: var(--second-family);
         font-weight: 600;
      }
   }

   // .prod-detail-actions__price-old

   &__price-old {
      font-weight: 500;
      font-size: 27px;
      text-transform: uppercase;
      color: #8a8a8a;

      span {
         font-family: var(--second-family);
         font-weight: 600;
      }
   }

   // .prod-detail-actions__right-panel

   &__right-panel {
      display: grid;
      justify-content: center;
      gap: 21px;
   }

   .product-status {
      grid-column: 1/-1;
   }

   // .prod-detail-actions__share-button

   &__share-button {
      width: 22px;
      height: 25px;

      svg {
         width: 100%;
         height: 100%;

         use {
            fill: #8a8a8a;
         }
      }
   }

   // .prod-detail-actions__favorite-button

   &__favorite-button {
      width: 22px;
      height: 29px;

      img {
         width: 100%;
         height: 100%;

         &:first-child {}

         &:last-child {
            display: none;
         }
      }

      @media (any-hover: hover) {
         &:hover {
            img {

               &:first-child {
                  display: none;
               }

               &:last-child {
                  display: block;
               }
            }
         }
      }

      &._active {
         img {

            &:first-child {
               display: none;
            }

            &:last-child {
               display: block;
            }
         }

         @media (any-hover: hover) {
            &:hover {
               img {

                  &:first-child {
                     display: block;
                  }

                  &:last-child {
                     display: none;
                  }
               }
            }
         }
      }
   }

   // .prod-detail-actions__bottom-panel

   &__bottom-panel {
      grid-column: 1/-1;
      display: grid;
      gap: 24px;
      grid-template-columns: auto 1fr;

      .quantity {
         width: 91px;
         background: #fff;
         border: 1px solid rgba(0, 0, 0, 0.23);
         border-radius: 5px;

         input {
            background: transparent;
         }

         // .quantity__button

         &__button {

            // .quantity__button_minus

            &_minus {}

            // .quantity__button_plus

            &_plus {}
         }

         // .quantity__input

         &__input {}
      }
   }

   // .prod-detail-actions__button

   &__button {
      padding-right: 10px;
      padding-left: 10px;
   }
}

.product-detail-slider {
   &:last-child {
      margin-bottom: func.rem(115);

      @media (max-width:bp.$xl) {
         margin-bottom: func.rem(85);
      }
   }

   &:has(+.product-detail-slider) {
      margin-bottom: func.rem(90);
   }

   // .product-detail-slider__header

   &__header {
      margin-bottom: func.rem(30);
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;

      @media (max-width:bp.$lg) {
         .swiper__nav {
            display: none;
         }
      }
   }

   // .product-detail-slider__title

   &__title {
      font-weight: 500;
      font-size: 26px;
      text-transform: uppercase;
      color: #000;
   }
}

.product-detail-tabs {
   border-radius: 10px;
   background: #eee;
   padding: func.rem(37);
   margin: func.rem(80) 0;

   @media (max-width:bp.$md) {
      padding: func.rem(30) func.rem(20);
   }

   @media (max-width:bp.$xs) {
      margin-left: -10px;
      margin-right: -10px;
   }

   // .product-detail-tabs__navigation

   &__navigation {
      margin-bottom: func.rem(46);
      display: flex;
      gap: 69px;
      flex-wrap: wrap;

      @media (max-width:bp.$md) {
         gap: 20px 30px;
      }
   }

   // .product-detail-tabs__title

   &__title {
      font-weight: 500;
      font-size: 26px;
      color: #979797;

      @media (max-width:bp.$md) {
         font-size: 20px;
      }

      &._tab-active {
         color: #000;
      }
   }

   // .product-detail-tabs__content

   &__content {}

   // .product-detail-tabs__body

   &__body {
      line-height: 144%;

      p {
         margin-bottom: func.rem(25);
      }

      ul {
         padding-left: func.rem(15);

         li {
            padding-left: func.rem(10);
            list-style-type: '–';

            &:not(:last-child) {
               margin-bottom: func.rem(10);
            }
         }
      }
   }

   // .product-detail-tabs__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 27px;

      @media (max-width:bp.$md) {
         grid-template-columns: 1fr;
      }
   }

   // .product-detail-tabs__item

   &__item {
      font-size: 16px;
      line-height: 94%;
      display: grid;
      grid-template-columns: 187px 1fr;
   }

   // .product-detail-tabs__name

   &__name {
      font-weight: 400;
      font-size: inherit;
      line-height: inherit;
      color: #000;
   }

   // .product-detail-tabs__value

   &__value {
      font-weight: 600;
      font-size: inherit;
      line-height: inherit;
      color: #000;
      line-height: 106%;
   }
}