@use '../config/breakpoints' as bp;
@use '../config/mixins' as mixin;
@use '../config/functions' as func;

// Заголовки, общие БЄМ блоки и проче...
//========================================================================================================================================================

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
   position: relative;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

[class*="-ibg_contain"] {
   img {
      object-fit: contain;
   }
}

// Визуально прячем элемент, оставляя его доступным
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.action-notification {
   position: fixed;
   top: -150px;
   left: 0;
   right: 0;
   background: #000;
   color: #fff;
   z-index: 500;
   width: 300px;
   margin: 0 auto;
   border-radius: 10px;
   padding: rem(10);
   text-align: center;
   transition: all 0.3s ease 0s;

   &.show {
      top: 100px;
   }
}