@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.live-search {
   position: relative;

   // .live-search__line

   &__line {
      position: relative;
   }

   // .live-search__label

   &__label {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 300;
      font-size: 18px;
      color: #8a8a8a;
      pointer-events: none;

      ._form-focus & {
         display: none;
      }
   }

   // .live-search__input

   &__input {
      background: #ededed;
      border-radius: 10px;
      height: 64px;
      width: 100%;
      padding-left: func.rem(24);
      padding-right: func.rem(84);
   }

   // .live-search__clear-icon

   &__clear-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
      width: 24px;
      height: 24px;
      display: none;

      &._active {
         display: block;

         &~.live-search__icon {
            display: none;
         }
      }
   }

   // .live-search__icon

   &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 27px;
      width: 29px;
      height: 28px;
      pointer-events: none;
   }
}

.live-search-container {}

.live-search-result {
   z-index: 150;
   display: grid;

   @media (min-width:bp.$lg) {
      padding: func.rem(30) func.rem(26);
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 14px);
      box-shadow: 0 5px 13px 1px rgba(0, 0, 0, 0.34);
      background: #fff;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      min-width: 582px;

      .show-result & {
         opacity: 1;
         visibility: visible;
      }
   }

   @media (max-width:bp.$lg) {
      height: 100%;
   }

   // .live-search-result__list

   &__list {
      margin-bottom: func.rem(60);

      @media (min-width:bp.$lg) {
         height: 541px;
         overflow: auto;

         @media (max-width:bp.$xxl) {
            height: 440px;
         }
      }

      @media (max-width:bp.$lg) {
         padding-top: func.rem(30);
      }
   }

   // .live-search-result__link

   &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      color: #0465ba;
      display: block;
      margin-bottom: func.rem(30);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .live-search-result__card

   &__card {
      display: flex;
      gap: 30px;
      position: relative;

      &:not(:last-child) {
         margin-bottom: func.rem(20);
      }
   }

   // .live-search-result__card-ibg

   &__card-ibg {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
   }

   // .live-search-result__card-main

   &__card-main {}

   // .live-search-result__name

   &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000;
      margin-bottom: func.rem(6);

      &::before {
         content: '';
         position: absolute;
         inset: 0;
      }

      @media (max-width:bp.$xs) {
         overflow-wrap: anywhere;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .live-search-result__price

   &__price {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;

      span {
         font-family: var(--second-family);
         font-weight: 600;
      }
   }

   // .live-search-result__button

   &__button {
      justify-self: center;
      border-radius: 5px;
      width: 504px;

      @media (max-width:bp.$lg) {
         width: 100%;
      }
   }
}